body {
  margin-top: 20px;
  background-color: #aaff80;
}

.menu {
  background-color: #ffff4d !important;
  margin-bottom: 20px;
}

.popup {
  background-color: #ffff4d;
  max-width: 1000px !important;
}

.card-image {
   height: 350px;
  overflow: hidden;
  position: relative;
}

.card-color {
  background-color: limegreen !important;
}
.card-color button {
  background: yellow none !important;
}

.card-image img {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

